/* body Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

/*friend suggestion*/
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #666;
    margin-left: 25px;
    font-size: 0.9rem;
}

nav a.active {
    color: #000;
    border-bottom: 2px solid #0055ff;
}

.bg-light {
    background-color: #f4f7f6;
    padding: 80px 0;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    padding: 80px 20px;
    gap: 50px;
}

.hero-content {
    flex: 1;
}

.hero-image {
    position: relative;
}

.img-box {
    position: absolute;
    bottom: -20px;
    left: -40px;
    background: #fff;
    padding: 20px;
    width: 200px;
    font-size: 15px;
    font-style: italic;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* Proficiencies */

.subtitle {
    margin-bottom: 40px;
    color: #777;
}

.card-grid {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    width: 360px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tags span {
    background: #e0e7ff;
    padding: 8px 15px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #4b5ab8;
    border-radius: 20px;
}

/* Collaborations */
.collaborations {
    padding: 80px 20px;
}

.collab-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.active-clients {
    text-align: right;
}

.logo-grid {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    margin-left: 0%;
}

/* work Section */
.work-box {
    background: #0055ff;
    color: #8dbedb;
    padding: 60px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 80px;
}

.btn {
    background: #fff;
    color: #0055ff;
    border: none;
    padding: 15px 30px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

/* Footer */
footer {
    padding-bottom: 40px;
    border-top: 1px solid #eee;
    padding-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #888;
    margin-bottom: 30px;
}

.footer-links a {
    text-decoration: none;
    color: #888;
}

/* Responsive */
@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    
    .card-grid {
        flex-direction: column;
        text-align: center;
    }

    .logo-grid {
        flex-direction: column;
        text-align: center;
    }

    .navbar 
    .container, 
    .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}