* {
    margin: 0;
    padding: 0;
    background-color: var(--background);

}

:root {
    --highlight: #1D4ED8;
    --background: #f7f9fa;
    --box-background: #F1F4F6;
}

.dflex {
    display: flex;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
}

nav>h3 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav>div {
    display: flex;
    gap: 20px;

}

.navlink {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 16px;

}

#current-page {
    color: var(--highlight);
    border-bottom: 2px solid var(--highlight);
    font-weight: 600;
}



@media (max-width: 660px) {

    .navlink {
        display: none;
    }

    #current-page {
        color: var(--highlight);
        border-bottom: 2px solid var(--highlight);
        font-weight: 600;
        display: inline;
    }



}





/* 
Contact Section */
.contact>p:first-of-type {
    color: var(--highlight);
    font-size: 11px;
    margin-top: 10vh;
    padding-left: 15px;
}

.contact>h1 {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    line-height: 1;
    margin-bottom: 35px;
    padding-left: 15px;

}


.contact>p {
    color: rgb(77, 77, 77);
    width: 60vw;
    font-size: 15px;
    padding-left: 15px;

}

.form-boxes {
    border-radius: 10px;
    margin-top: 30px;


}

form {
    padding: 10vmin;
    background-color: white;
}

form>div {
    gap: 7vw;
    background-color: white;
    justify-content: space-evenly;
}

form .dflex div {
    background-color: white;

}

form label {
    background-color: white;
    color: rgb(37, 36, 36);
    font-size: 13px;
    padding: 8px;
    padding-top: 0;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--box-background);
    width: 15vw;


}

#msg-input {
    padding: 10px 25vw 10vh 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--box-background);
    width: 15vw;
}

form button {
    background-color: var(--highlight);
    color: white;
    padding: 18px 40px;
    border: none;
    border-radius: 5px;
}

.boxes {
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: space-around;
}

.box {
    background-color: var(--box-background);
    padding: 17px;
    border-radius: 10px;
    width: 12vw;

}

.box img {
    width: 20px;
}

.box p {
    background-color: var(--box-background);

}

.box p:last-of-type {
    color: rgb(77, 77, 77);
    font-size: 12px;
}

/* Footer  */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 1vw;
    gap: 7vw;
}
footer>h3 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-links {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 0 10px;
    font-size: 14px;
}