* {
    margin: 0;
    padding: 0;

    background-color: var(--background);

}

:root {
    --highlight: #1D4ED8;
    --background: #f7f9fa;
    --box-background: #F1F4F6;
}

/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
}

nav>h3 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav>div {
    display: flex;
    gap: 20px;

}

.navlink {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 16px;

}

#current-page {
    color: var(--highlight);
    border-bottom: 2px solid var(--highlight);
    font-weight: 600;
}



@media (max-width: 660px) {

    .navlink {
        display: none;
    }

    #current-page {
        color: var(--highlight);
        border-bottom: 2px solid var(--highlight);
        font-weight: 600;
        display: inline;
    }



}

/* Service Section */

.service>div:first-child {
    background-color: var(--background);
    padding: 2vw;
    margin-top: 7vh;
}

.service>div>h6 {
    font-size: 12px;
    color: var(--highlight);

}

.headings {
    display: flex;
    justify-content: space-between;
}

.headings>h1 {
    width: 40vw;
    background-color: #DAE2FF;
    padding: 30px 50px;

}

.headings>p {
    width: 40vw;
    font-size: 19px;
    padding: 20px;
    display: flex;
    align-self: center;
}

.boxes {
    padding: 10px;
    background-color: var(--box-background);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 25vw;
    height: 25vw;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}

box>div {
    color: rgb(51, 51, 51);
    background-color: white;
}

.box>h3 {
    margin: 1vh 0;
    background-color: white;
}

.box>p {
    margin: 1vh 0;
    background-color: white;
}

.collabs {
    padding: 8vw;

}

.collabs>p {
    color: var(--highlight);
    font-size: 16px;
    text-align: center;
}

.collabs>h2 {
    margin: 5vw;
    font-size: 26px;
    text-align: center;
}

.collab-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.elevate {
    background-color: #c1c4cc;
    padding: 8vw;

}

.elevate h3 {
    background-color: #c1c4cc;
    padding: 20px;
}

.elevate p {
    background-color: #c1c4cc;
    padding: 20px;
}

.elevate button {
    background-color: var(--highlight);
    padding: 25px 20px;

    border-radius: 7px;
    border: none;
    margin: 20px;
}

/* Footer */


footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 1vw;
    gap: 7vw;
}

footer>h3 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-links {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10px;
    font-size: 14px;
}